@font-face {
  font-family: helvetica;
  src: url("/fonts/Helvetica.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: helvetica-light;
  src: url("/fonts/helvetica-light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: helvetica-bold;
  src: url("/fonts/Helvetica-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: helvetica-neue-medium;
  src: url("/fonts/Helvetica Neue Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: helvetica-neue-light;
  src: url("/fonts/Helvetica Neue UltraLight.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: helvetica-neue;
  src: url("/fonts/Helvetica Neue.woff2") format("woff2");
  font-display: swap;
}
